.main-photo{
  width: 900px;
  height: 400px;
  object-fit: cover;
}
.slider{
  text-align: center;
}
.slider button{
  margin-left: 20px;
  padding: 10px 20px;
  background: orangered;
  color: white;
  font-size: large;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}
.photo-list img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}
.photo-list{
  margin-top: 20px;
}
.active{
  border: 6px solid black;
}
.photo-circle{
  margin-top: 20px;
}
.photo-circle img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-left: 10px;
  border-radius: 50%;
}
.form{
  margin-top: 50px;
  padding: 10px;
}
.form select{
  padding: 5px 30px;
  border: none;
  outline: none;
}
.form label{
  font-size: small;
}